<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sparePart">
            <h2><span>Spare Part</span> {{ sparePart.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ sparePart.name }}</span>
                </dd>
                <dt><span>Term</span></dt>
                <dd>
                    <span>{{ sparePart.term }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ sparePart.price }}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{ sparePart.note }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spare-part', sparePart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
