<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delivery">
            <h2><span>Delivery</span> {{ delivery.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{ delivery.number }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ delivery.date }}</span>
                </dd>
                <dt><span>Provider</span></dt>
                <dd>
                    <div *ngIf="delivery.provider">
                        <a [routerLink]="['/provider', delivery.provider?.id, 'view']">{{ delivery.provider?.id }}</a>
                    </div>
                </dd>
                <dt><span>Spare Part</span></dt>
                <dd>
                    <div *ngIf="delivery.sparePart">
                        <a [routerLink]="['/spare-part', delivery.sparePart?.id, 'view']">{{ delivery.sparePart?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery', delivery.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
